.infoBox__caseP > h2{
    font-size: 30px;
    color: #6199ff;
    font-weight: 400;
}


.infoBox__total{
    color: #271b36;
    font-weight: 400;
}

.card_covid{
    width: 30%;
    /* background-color:  #ffffff2a; */
}



