.table{
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: scroll;
    height: 400px;
    background-color: hsla(0, 0%, 100%, 0.192);
}

.table tr{
    display: flex;
    justify-content: space-between;
}

.table td{
    padding: 0.5rem;
}
.table tr:nth-of-type(odd){
    background-color: rgba(113, 156, 248, 0.486);
}